/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
$correct-color: #669900;
$wrong-color: #CC0000;
$equal-color: #FF8800;
$top-offset: 40px;
.popup{
    .popup-title{
        font-size: 26px;
    }
    .popup-body{
        font-size: 18px;
        text-align: center;
        overflow: auto;
    }
}
body{
    // padding-top: 40px;
}
.map{
    background: url('../img/europe-political-map.gif') center no-repeat;
    background-size: cover;
}
.main{

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    .main-menu{

        display: -webkit-box;
        display: -moz-box;
        display: box;

        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;

        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;

        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;

    	display: flex;
        display: -webkit-flex;
        -webkit-flex-direction: column;
    	flex-direction: column;
    	width: 60%;
    	button{
            -webkit-box-flex: 1;
            box-flex: 1;
            -webkit-flex: 1;
    		flex: 1;
            width: 100%;
            margin-top: 15px;
    		&:last-child{
    		}
    	}
    }
    .app-version{
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #fafafa;
        
    }
}
.play{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 50px 25px 25px;
    background: rgba(255, 255, 255, .75);
    overflow: auto;
    .answers{
	    width: 90%;
	    margin: 25px auto 0;
	    button{
		    width: 46%;
		    margin: 3px 2%;
		    font-size: 14px;
		    text-overflow: ellipsis;
		    overflow: hidden;
		    white-space: nowrap;
		}
	}
}
.flag-container{
    position: relative;
    height: 180px;
	.flag{
	    width: 80%;
	    height: 160px;
	    margin: 0 auto;
	    background: center no-repeat;
	    background-size: contain;
	}
    .bonus{
        position: absolute;
        width: 50px;
        height: 50px;
        top: 15px;
        right: 0;
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 50px;
        border-radius: 50%;
        background: $correct-color;
        opacity: 0;
        transition: opacity .25s linear .25s;
        &.bonus-won{
            opacity: 1;
        }
    }
}
.overview{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 20px;
}
.overview-item{
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;

    
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    text-align: center;
    label, span{
	    font-size: 16px;
	    font-weight: bold;
    }
}
.correct{
    color: $correct-color;
}
.wrong{
    color: $wrong-color;
}
.equal{
    color: $equal-color;
}
.points{
	display: flex;
	margin: 20px 0;
	color: #333;
	label{
		line-height: 20px;
	}
	label, span{
        -webkit-flex: 1;
		flex: 1;
		font-size: 28px;
	}
}
.countdown{
	display: flex;
	flex-direction: row;
	.icon{
        -webkit-flex: 1;
		flex: 1;
		font-size: 36px;
	}
	.timer-container{
        -webkit-flex: 5;
	    flex: 5;
	    border: 1px solid #333;
	}
    .time-labels{
        display: flex;
        span{
            -webkit-flex: 1;
            flex: 1;
            padding: 0 5px;
            font-size: 14px;
            font-weight: bold;
            &:nth-child(2){
                text-align: center;
            }
            &:last-child{
                text-align: right;
            }
        }
    }
	.remaining-time {
        -webkit-flex: 5;
	    flex: 5;
	    height: 15px;;
	    margin-top: 10px;
	    &.active-animation{
		    transition: width 1s, color .25s;
		}
		&.game-ended{
			width: 100%;
			background: $wrong-color;
		}
	}
}
.bottom-buttons{
	display: flex;
	margin-top: 15px;
	button{
        -webkit-flex: 1;
		flex: 1;
	}
}
.settings{
    height: 100%;
    padding: $top-offset 25px 25px;
    background: #fafafa;
}
.i-settings{
    padding: 25px 0;
    text-align: center;
    font-size: 100px;
}
/* Special styling for WebKit/Blink */


/* All the same stuff for Firefox */
// input[type=range]::-moz-range-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }

// All the same stuff for IE
// input[type=range]::-ms-thumb {
//   box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
//   border: 1px solid #000000;
//   height: 36px;
//   width: 16px;
//   border-radius: 3px;
//   background: #ffffff;
//   cursor: pointer;
// }
.difficulty{
    .item{
        background: transparent;
    }
    .level-labels{
        display: flex;
        span{
            flex: 1;
            text-align: center;
            font-size: 20px;
        }
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        cursor: pointer;
    }
    .easy {
        input[type=range]::-webkit-slider-thumb {
            background: $correct-color;
            border: 1px solid $correct-color;
        }
    }
    .moderate {
        input[type=range]::-webkit-slider-thumb {
            background: $equal-color;
            border: 1px solid $equal-color;
        }
    }
    .hard {
        input[type=range]::-webkit-slider-thumb {
            background: $wrong-color;
            border: 1px solid $wrong-color;
        }
    }
}
.save-settings{
    display: flex;
    padding: 0 15px;
    margin-top: 50px;
    button{
        width: 100%;
    }
}
.scores{
    padding: ($top-offset + 10px) 25px 25px;
    .scores-block{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 10px 0;
        color: #333;
        h2{
            padding-bottom: 5px;
            text-align: center;
            border-bottom: 1px solid #ccc;
        }
        .score-data{
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            flex-direction: row;
            padding: 0 10px;
            font-size: 30px;
            line-height: 30px;
            .icon-box{
                flex: 1;
            }
            .data-box{
                flex: 5;
            }
        }
    }
}
@-webkit-keyframes remaining {
    0% {
        background: #669900;
        width: 0; 
    }
    70%{
        background: #669900;
    }
    75%{
        background: #CC0000;
    }
    100% {
        background: #CC0000;
        width: 100%;
    }
}
@keyframes remaining {
    0% {
        background: #669900;
        width: 0; 
    }
    70%{
        background: #669900;
    }
    75%{
        background: #CC0000;
    }
    100% {
        background: #CC0000;
        width: 100%;
    }
}