<div class="main map">
    <div class="main-menu">
    	<button type="button" class="button button-balanced" ui-sref="play">Play</button>
    	<button type="button" class="button button-calm" ui-sref="scores">My scores</button>
    	<button type="button" class="button button-royal" ui-sref="settings">Settings</button>
    </div>
    <small class="app-version" ng-bind="'v.' + appVersion"></small>
</div>