<div class="map">
<div class="play">
    <div class="" ng-if="cfg.ready">
        <div class="" ng-if="data.isActiveGame">
            <div class="flag-container">
                <div class="flag" ng-style="{'background-image': 'url(img/flags/'+data.questions[data.activeQuestion].flag+'.png)'}"></div>
                <div class="bonus" ng-bind="'+' + data.bonus" ng-class="{'bonus-won': data.bonus > 0}"></div>
            </div>
            <div class="answers">
                <button type="button" 
                    class="button button-positive" 
                    ng-repeat="answer in data.questions[data.activeQuestion].answers" 
                    ng-bind="answer"
                    ng-disabled="!data.isActiveGame"
                    ng-click="selectAnswer(answer)"></button>
            </div>
        </div>
        <div class="overview">
            <div class="overview-item correct">
                <label>Correct</label>
                <span ng-bind="data.correct"></span>
            </div>
            <div class="overview-item wrong">
                <label>Wrong remaining</label>
                <span ng-bind="data.remainingWrong"></span>
            </div>
            <div class="overview-item" ng-class="{
                correct: data.correct > data.wrong,
                wrong: data.correct < data.wrong,
                equal: data.correct == data.wrong
            }">
                <label>Correct ratio</label>
                <span ng-bind="calculateRatio()"></span>
            </div>
        </div>
        <div class="points">
            <label>Points: </label>
            <span ng-bind="data.totalPoints"></span>
        </div>
        <div class="countdown">
            <i class="icon ion-clock"></i>
            <div class="timer-container">
                <div class="time-labels">
                    <span>0</span>
                    <span ng-bind="data.elapsedTime | seconds"></span>
                    <span ng-bind="data.totalTime | seconds"></span>
                </div>
                <div class="remaining-time" ng-class="{'active-animation': data.isActiveGame, 'game-ended': !data.isActiveGame}" active-animation></div>
            </div>
        </div>
        <div class="bottom-buttons">
            <button type="button" class="button button-balanced" ng-click="startGame()" ng-if="!data.isActiveGame">Play again!</button>
        </div>
    </div>
</div>
</div>