<div class="scores">
    <div class="scores-block">
        <h2>Highest score</h2>
        <div class="score-data">
            <span class="ion-trophy icon-box"></span>
            <span class="data-box" ng-bind="data.maxScore + ' points'"></span>   
        </div>
    </div>
    <div class="scores-block">
        <h2>Total games</h2>
        <div class="score-data">
            <span class="ion-podium icon-box"></span>
            <span class="data-box" ng-bind="data.totalGames + ' games'"></span>     
        </div>
    </div>
</div>