<div class="settings">
	<div class="i-settings">
		<i class="icon ion-settings"></i>
	</div>
	<div class="difficulty">
	    <div class="list">
	     	<div class="item range" ng-class="{
	     		'easy': settings.userLevel == 1,
	     		'moderate': settings.userLevel == 2,
	     		'hard': settings.userLevel == 3,
	     		'range-balanced': settings.userLevel == 1,
	     		'range-energized': settings.userLevel == 2,
	     		'range-assertive': settings.userLevel == 3
	     		}">
	        	<i class="icon ion-ios7-sunny-outline"></i>
	        	<input class="range-input" type="range" min="1" max="3" step="1" ng-model="settings.userLevel">
	        	<i class="icon ion-ios7-sunny"></i>
	      	</div>
	    </div>
	    <div class="level-labels">
	    	<span>Easy</span>
	    	<span>Moderate</span>
	    	<span>Hard</span>
	    </div>
    </div>
    <div class="save-settings">
    	<button class="button button-balanced" ng-click="saveSettings()">Save</button>
    </div>
</div>