<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet"> -->
    <!-- <link href="css/style.css" rel="stylesheet"> -->

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above -->
    <link href="css/ionic.app.css" rel="stylesheet">
   

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
</head>
<body ng-app="MSLEuropeFlagsGame">
    <div ng-controller="MainCtrl">
        <ion-header-bar class="bar-stable" ng-show="cfg.isMenuVisible">
            <button class="button button-positive" ng-click="goBack()">
                <span class="ion-android-arrow-back"></span>
                Back
            </button>
        </ion-header-bar>
        <ion-nav-view>
            <ion-view>
                <ion-content ui-view class="content"></ion-content>
            </ion-view>
        </ion-nav-view>
    </div>
</html>
