.map{
    background: url('../img/europe-political-map.gif') center no-repeat;
    background-size: cover;
}
.main{
    display: -webkit-box; 
    display: box; 
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    height: 100%;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;*/
}
.main button{
    /*-webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;*/
}
.play{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 25px;
    background: rgba(255, 255, 255, .75);
}
.play .answers{
    width: 90%;
    margin: 25px auto 0;
}
.play .answers button{
    width: 46%;
    margin: 3px 2%;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.flag-container{
    height: 220px;
}
.flag{
    width: 80%;
    height: 200px;
    margin: 0 auto;
    background: center no-repeat;
    background-size: contain;
}
.overview{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-top: 20px;
}
.overview-item{
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    flex: 1;
    text-align: center;
}
.correct{
    color: #669900;
}
.wrong{
    color: #CC0000;
}
.equal{
    color: #FF8800;
}
.overview-item label, .overview-item span{
    font-size: 16px;
    font-weight: bold;
}

.remaining-time {
    float: left;
    height: 15px;;
    margin-top: 10px;
    
}
.remaining-time.active-animation{
    -webkit-animation: remaining 45s linear 0 1;
    -webkit-animation-fill-mode: forwards;
    animation: remaining 45s linear 0 1;
    animation-fill-mode: forwards;
}
@-webkit-keyframes remaining {
    0% {
        background: #669900;
        width: 0; 
    }
    70%{
        background: #669900;
    }
    75%{
        background: #CC0000;
    }
    100% {
        background: #CC0000;
        width: 100%;
    }
}
@keyframes remaining {
    0% {
        background: #669900;
        width: 0; 
    }
    70%{
        background: #669900;
    }
    75%{
        background: #CC0000;
    }
    100% {
        background: #CC0000;
        width: 100%;
    }
}